<%- include("partials/header") -%>

<h1>Home</h1>
<p>  <%= paragraph1 %> </p>

<% posts.forEach(function(element){ %>
 <h1> <%= element.post_Title %> </h1>
 <p> <%= (element.post_Body).slice(0,100)+ "..." %> <a href="/posts/<%=element.post_Title%>">Read more</a></p>
 <%# substring  method can be used %>
<% }); %>


<%- include("partials/footer") -%>
